body {
  font-family: 'Exo 2', sans-serif; }
  body nav.navbar {
    background: transparent;
    border: 0; }
  body header {
    background-image: url("../img/jumbo.png");
    background-size: cover;
    background-position: center;
    height: 350px; }
  body .jumbotron {
    padding-top: 35px; }
  body #navbarToggle {
    margin: 0;
    margin-top: 5px; }
  body .navbar-brand {
    margin-top: 0;
    margin-bottom: 0; }
    body .navbar-brand a {
      font-weight: bolder;
      font-size: 2.5em;
      text-decoration: none;
      color: white; }
  body .navbar-inverse .navbar-nav > li > a {
    color: white;
    font-size: 1.1em; }
@-webkit-keyframes glowing {
  0% {
    -webkit-box-shadow: 0 0 3px rgba(255, 255, 255, 0.5); }
  50% {
    -webkit-box-shadow: 0 0 40px rgba(255, 255, 255, 0.5); }
  100% {
    -webkit-box-shadow: 0 0 3px rgba(255, 255, 255, 0.5); } }
@-moz-keyframes glowing {
  0% {
    -moz-box-shadow: 0 0 3px rgba(255, 255, 255, 0.5); }
  50% {
    -moz-box-shadow: 0 0 40px rgba(255, 255, 255, 0.5); }
  100% {
    -moz-box-shadow: 0 0 3px rgba(255, 255, 255, 0.5); } }
@-o-keyframes glowing {
  0% {
    box-shadow: 0 0 3px rgba(255, 255, 255, 0.5); }
  50% {
    box-shadow: 0 0 40px rgba(255, 255, 255, 0.5); }
  100% {
    box-shadow: 0 0 3px rgba(255, 255, 255, 0.5); } }
@keyframes glowing {
  0% {
    box-shadow: 0 0 3px rgba(255, 255, 255, 0.5); }
  50% {
    box-shadow: 0 0 40px rgba(255, 255, 255, 0.5); }
  100% {
    box-shadow: 0 0 3px rgba(255, 255, 255, 0.5); } }
  body .btn3d {
    border: 0;
    transition: all 40ms linear;
    border-radius: 22.5px;
    width: 150px;
    height: 45px;
    font-size: 1.4em; }
  body .btn3d:active:focus,
  body .btn3d:focus:hover,
  body .btn3d:focus {
    -moz-outline-style: none;
    outline: medium none; }
  body .btn3d:active, body .btn3d.active {
    top: 153px; }
  body .btn3d.btn-success {
    box-shadow: 0 0 0 1px #006600 inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 8px 0 0 #004d00, 0 8px 8px 1px rgba(0, 0, 0, 0.5);
    background-color: #009900; }
  body .btn3d.btn-success:active, body .btn3d.btn-success.active {
    box-shadow: 0 0 0 1px #30cd00 inset, 0 0 0 1px rgba(255, 255, 255, 0.15) inset, 0 1px 3px 1px rgba(0, 0, 0, 0.3);
    background-color: #00cc00; }
  body .jumbo-heading {
    text-align: center;
    color: white;
    position: relative;
    bottom: 30px;
    margin-top: 15px; }
    body .jumbo-heading a {
      text-decoration: none;
      color: white; }
  body .back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none; }
  body .radio-btn {
    margin-right: 10px; }
  body .column-title {
    text-align: center; }
  body .panel-footer {
    height: 44px;
    padding-top: 5px;
    padding-bottom: 5px; }
  body .panel-title {
    width: 80%;
    margin-right: 0; }
  body .close-panel {
    position: relative;
    bottom: 19px;
    left: 7px;
    color: #3c763d; }
  @media (max-width: 320px) {
    body .navbar-brand a {
      font-size: 1em; } }
  @media (min-width: 321px) and (max-width: 375px) {
    body .navbar-brand a {
      font-size: 1.5em; } }
  @media (min-width: 376px) and (max-width: 436px) {
    body .navbar-brand a {
      font-size: 2em; } }
  @media (max-width: 767px) {
    body header {
      height: auto;
      max-height: 345px; }
    body .btn3d {
      width: 30%;
      height: 70px;
      height: 34px;
      font-size: 1.2em;
      margin: auto;
      padding-bottom: 33px;
      -webkit-animation: glowing 1500ms infinite;
      -moz-animation: glowing 1500ms infinite;
      -o-animation: glowing 1500ms infinite;
      animation: glowing 1500ms infinite; } }
  @media (min-width: 768px) {
    body .navbar-nav {
      width: 100%;
      text-align: center; }
      body .navbar-nav li {
        float: none;
        display: inline-block; }
    body .btn3d {
      position: relative;
      top: 150px; } }
  @media (min-width: 768px) and (max-width: 991px) {
    body .jumbotron {
      padding-top: 30px; } }

/*# sourceMappingURL=style.css.map */
