$blinkingColor: rgba(255, 255, 255, 0.5);
$btn3dGlowing: glowing 1500ms infinite;
html {
  height: 100%;
  box-sizing: border-box;
}

body{
	font-family: 'Exo 2', sans-serif;
	position: relative;
  	margin: 0;
  	padding-bottom: 6rem;
  	min-height: 100%;
	nav.navbar {
	  	background: transparent;
	  	border: 0;
	}
	header {
	  	background-image: url('../img/jumbo.png');
	  	background-size: cover;
	  	background-position: center;
	  	height: 350px;
	}
	.jumbotron{
		padding-top: 35px;
	}
	#navbarToggle{
		margin: 0;
		margin-top: 5px;
	}
	.navbar-brand{
		margin-top: 0;
		margin-bottom: 0;
		a{
			font-weight: bolder;
			font-size: 2.5em;
			text-decoration: none;
			color: white;
		}
	}
	.navbar-inverse .navbar-nav>li>a{
		color: white;
		font-size: 1.1em;
	}

	@-webkit-keyframes glowing {
	  0% {-webkit-box-shadow: 0 0 3px $blinkingColor; }
	  50% {-webkit-box-shadow: 0 0 40px $blinkingColor; }
	  100% {-webkit-box-shadow: 0 0 3px $blinkingColor; }
	}

	@-moz-keyframes glowing {
	  0% {-moz-box-shadow: 0 0 3px $blinkingColor; }
	  50% {-moz-box-shadow: 0 0 40px $blinkingColor; }
	  100% {-moz-box-shadow: 0 0 3px $blinkingColor; }
	}

	@-o-keyframes glowing {
	  0% {box-shadow: 0 0 3px $blinkingColor; }
	  50% {box-shadow: 0 0 40px $blinkingColor; }
	  100% {box-shadow: 0 0 3px $blinkingColor; }
	}

	@keyframes glowing {
	  0% {box-shadow: 0 0 3px $blinkingColor; }
	  50% {box-shadow: 0 0 40px $blinkingColor; }
	  100% {box-shadow: 0 0 3px $blinkingColor; }
	}

	.btn3d {
	    border: 0;
	    transition: all 40ms linear;
	    border-radius: 22.5px;
	    width: 150px;
	    height: 45px;
	    font-size: 1.4em;
	}

	.btn3d:active:focus,
	.btn3d:focus:hover,
	.btn3d:focus {
	    -moz-outline-style: none;
	    outline: medium none;
	}
	.btn3d:active, .btn3d.active {
	    top: 153px;
	}
	.btn3d.btn-success {
	    box-shadow: 0 0 0 1px #006600 inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #004d00, 0 8px 8px 1px rgba(0,0,0,0.5);
	    background-color: #009900;
	}
	.btn3d.btn-success:active, .btn3d.btn-success.active {
	    box-shadow: 0 0 0 1px #30cd00 inset, 0 0 0 1px rgba(255,255,255,0.15) inset, 0 1px 3px 1px rgba(0,0,0,0.3);
	    background-color: #00cc00;
	}
	.jumbo-heading{
		text-align: center;
		color: white;
		position: relative;
		bottom: 30px;
		margin-top: 15px;
		a{
			text-decoration: none;
			color: white;
		}
	}
	.back-to-top {
	    cursor: pointer;
	    position: fixed;
	    bottom: 40%;
	    right: 20px;
	    display:none;
	}
	.radio-btn{
		margin-right: 10px;
	}
	.column-title{
		text-align: center;
	}
	.panel-footer{
		height: 44px;
		padding-top: 5px;
		padding-bottom: 5px;
	}
	.panel-title{
		width: 80%;
		margin-right: 0;
	}
	.close-panel{
		position: relative;
		bottom: 19px;
		left: 7px;
		color: #3c763d;
	}
	section{
		margin-bottom: 200px;
	}
	footer{
		position: absolute;
	  	right: 0;
	  	bottom: 0;
	  	left: 0;
		background-color: #292c2f;
		box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
		box-sizing: border-box;
		width: 100%;
		text-align: left;
		padding: 55px 50px;
		padding-top: 20px;
		padding-bottom: 15px;
		margin-top: 300px;
		color: white;
		.footer-icons{
			text-align: center;
			padding-top: 10px;
		}
		a, a:hover{
			color: white;
		}
		.profile-name{
			text-align: center;
			padding-top: 10px;
		}
		.wrap{
			width: 175px;
			height: 175px;
			border: 1px solid #737373;
			border-radius: 100%;
			margin-top: 60px;
			overflow: hidden;
			margin: auto;
			.profile-photo{
				height: 175px;
			}
		}
	}
	
	@media (max-width: 320px){
		.navbar-brand{
			a{
				font-size: 1em;
			}
		}
		.back-to-top{
			position: absolute;
			bottom: 470px;
		}
		footer{
			margin-top: 850px;
		}
	}

	@media (min-width: 321px) and (max-width: 375px){
		.navbar-brand{
			a{
				font-size: 1.5em;
			}
		}
	}

	@media (min-width: 376px) and (max-width: 436px){
		.navbar-brand{
			a{
				font-size: 2em;
			}
		}
	}

	@media (max-width: 767px){
		header{
			height: auto;
			max-height: 345px;
		}
		.btn3d{
			width: 150px;
			height: 70px;
			height: 34px;
			font-size: 1.2em;
			margin: auto;
			padding-bottom: 33px;
			-webkit-animation: $btn3dGlowing;
	  		-moz-animation: $btn3dGlowing;
	  		-o-animation: $btn3dGlowing;
	  		animation: $btn3dGlowing;
		}
		.back-to-top{
			position: absolute;
			bottom: 440px;
		}
		section{
			margin-bottom: 430px;
		}
		footer{
			text-align: center;
			.contacts{
				margin-top: 25px;
			}
			.about{
				margin-top: 25px;
			}
			max-height: 425px;
			overflow: auto;
		}
	}

	@media (min-width: 768px){
		.navbar-nav {
		    width: 100%;
		    text-align: center;
		    li {
		      	float: none;
		      	display: inline-block;
		    }
		}
		.btn3d{
			position: relative;
	    	top: 150px;
		}
		.information{
			margin-top: 50px;
		}
	}

	@media (min-width: 768px) and (max-width: 991px){
		.jumbotron{
			padding-top: 30px;
		}
		section{
			margin-bottom: 315px;
		}
		.back-to-top{
			position: absolute;
			bottom: 330px;
		}
	}
}